@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.login-main-div{
    background-image: url("https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=740&t=st=1677159099~exp=1677159699~hmac=7dd8d767bb365ddbdd0bc339e5d496ff6aaa9b80b92c8812f2038756675b6529");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.logIn-sub-div{
    margin-left: auto;
    margin-right: auto;
    width: calc(40vw);
    padding-left: 10px;
    margin-top: 50px;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px 0px white;




}

.logIn-sub-div h3{
    padding-top: 10px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    margin-bottom: 30px;
}


.loginForm input{
    background: none !important;
    border: 1px solid rgba(128, 128, 128, 0.39);
    color: white !important;
    border-left: none;
    margin-right: 10px;
 
}

.loginForm input::placeholder{
    color: rgba(128, 128, 128, 0.918);
  

}

.loginForm input:focus{
    box-shadow: none !important;
    border: 1px solid rgba(128, 128, 128, 0.39);
    border-left: none;
}



.loginForm button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px 45px;
    background-color:#27272a ;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.2em;
    border-radius: 5px;
}

.alerts-div{
    background-color: rgba(0, 0, 0, 0.384);
    position: absolute;
    height: calc(100vh);
    width: calc(100vw); 
    top: 0;
    display: none;
    
}

.error-div{
    background-color: white;
    width: calc(40vw);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 10px;
    font-weight: 500;
    padding-bottom: 5px;
    color: red;
    padding-top: 5px;
    text-align: center;
    font-size: 14px;

    

}

.error-div button{
    padding: 1px 40px;
    font-size: 16px;
    margin-top: 20px;
}

.googleLogin{
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex !important;

}


@media screen and (max-width:800px) {
    .logIn-sub-div{
        width: calc(50vw) !important;
    }


}

@media screen and (max-width:650px) {
    .logIn-sub-div{
        width: calc(70vw) !important;
    }

    .error-div{
        width: calc(60vw);
    }


}

@media screen and (max-width:450px) {
    .logIn-sub-div{
        width: calc(80vw) !important;
    }

    .name-div input{
        width: 90%;
    }

    .name-div input:nth-child(2){
        margin-left: 0px;
        
    }

    .error-div{
        width: calc(80vw);
    }

}


@media screen and (max-width:320px) {
    .logIn-sub-div{
        width: calc(100vw) !important;
        border-radius: 0px;

    }
    .loginForm button{
        padding: 5px 20px;
    }

    .error-div{
        width: calc(90vw);
    }

}