.forget-main-div{
    background-image: url("https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=740&t=st=1677159099~exp=1677159699~hmac=7dd8d767bb365ddbdd0bc339e5d496ff6aaa9b80b92c8812f2038756675b6529");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.forgetNav{
    display: flex;
    color: white;
    padding: 10px;
}
.forgetNav a{
    color: white;
    text-decoration: none;
    padding-top: 3px;
}

.center-div{
  width: calc(45vw);
  margin-left: auto;    
  margin-right: auto;
  box-shadow: 0 0 10px 0px white;
  margin-top: 20px;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
  padding-bottom: 10px;

}

.center-div h3{
    color: white;
    text-align: center;
}

.center-div input{
    background: none !important;
    border: 1px solid rgba(128, 128, 128, 0.39);
    color: white !important;
    border-left: none;
    margin-right: 10px;
}

.spinnerDiv{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.637);
    width: calc(100vw);
    height: calc(100vh);
    top: 0;
    z-index: 2;
    display: none;
    
}

.toast-div{
    margin-right: 20px;
    font-weight: bold;
}

.toast-div .txt{
    font-size: 16px !important;
    background-color: #27272a;
    color: snow;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 10px;


    
}



@media screen and (max-width:800px) {
    .center-div{
        width: calc(50vw) !important;
    }


}

@media screen and (max-width:650px) {
    .center-div{
        width: calc(70vw) !important;
    }

  


}

@media screen and (max-width:450px) {
    .center-div{
        width: calc(80vw) !important;
    }

   

}


@media screen and (max-width:320px) {
    .center-div{
        width: calc(100vw) !important;
        border-radius: 0px;

    }
  

}
