@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);



.signup-main-div{
  background-image: url("https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=740&t=st=1677159099~exp=1677159699~hmac=7dd8d767bb365ddbdd0bc339e5d496ff6aaa9b80b92c8812f2038756675b6529");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;


}

.signUp-sub-div{
    margin-left: auto;
    margin-right: auto;
    width: calc(40vw);
    padding-left: 10px;
    margin-top: 50px;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px 0px white;


}

.signUp-sub-div h3{
    padding-top: 10px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.signUp-sub-div input{
    background: none !important;
    border: 1px solid rgba(128, 128, 128, 0.39);
    color: white !important;
    border-left: none;
    margin-right: 10px;

}

.signUp-sub-div input:focus{
    box-shadow: none !important;
    border: 1px solid rgba(128, 128, 128, 0.39);
    border-left: none;


}

.signUp-sub-div input::placeholder{
    color: rgba(128, 128, 128, 0.918);
}

.uploadDiv{
    width: 95%;
    border: 1px solid white;
    padding: 10px 0px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}





.signUp-sub-div button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px 45px;
    background-color:#27272a ;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.2em;
    border-radius: 5px;
}

  
  .signUp-profileImg{
    position: relative;
    top: 20px;
    font-weight: bold;
    font-size: 17px;
    color: white;



  }


@media screen and (max-width:800px) {
    .signUp-sub-div{
        width: calc(50vw) !important;
    }


}

@media screen and (max-width:650px) {
    .signUp-sub-div{
        width: calc(70vw) !important;
    }

    .error-div{
        width: calc(60vw);
    }


}

@media screen and (max-width:450px) {
    .signUp-sub-div{
        width: calc(80vw) !important;
    }

    .name-div input{
        width: 90%;
    }

    .name-div input:nth-child(2){
        margin-left: 0px;
        
    }

    .error-div{
        width: calc(80vw);
    }

}


@media screen and (max-width:320px) {
    .signUp-sub-div{
        width: calc(100vw) !important;
        border-radius: 0px;
    }
    .submitForm button{
        padding: 5px 20px;
    }

    .error-div{
        width: calc(90vw);
    }

}
