
.admin-main-div{
    overflow-y: hidden ;
    height: calc(100vh);
    width: 100%;
}
.Sub-div{
    margin-top: 10px;;
    overflow-y: scroll;
    margin-bottom: 20px;
    height: 85%;



}
.footer{
    height: 15%;
    margin-bottom: 40px;

}

.bottomNav{
    padding-bottom: 30px !important;


}
.settingHead{
    text-align: center;
    color: #075985;
    font-size: 15px;
}

.profileImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 50%;
    background-color: #10b981;
    margin-left: auto;
    margin-right: auto;


}

.nameDiv{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

.nameDiv p{
    color: rgba(128, 128, 128, 0.63);
    font-size: 14px;


}

.nameDiv input{
    width: 100%;
}

.updateFirstName p{
    border-bottom: 2px solid rgba(128, 128, 128, 0.747);
}

.updateLastName p{
    border-bottom: 2px solid rgba(128, 128, 128, 0.747);
}

.profileImageDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileImageDiv button{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    padding: 3px 40px;
    border: none;
    background-color: #075985;
    color: white;

}
.categoryDiv{
    margin-top: 20px;
    padding-left: 40px;
    
    
}

.categoryDiv input{
    background-color: rgba(128, 128, 128, 0.226);
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 70%;
    padding-left: 10px;
  
}
.categoryDiv button{
    margin-top: 10px;
    border-radius: 5px;
    padding: 2px 20px;
    background-color: #61B846;
    border: none;
    color: white;
    font-weight: 700;
    margin-left: 10px;
}

.feed{
    padding-bottom: 20px;
}

.options{
    border: 1px solid #16a34a;
    padding: 15px;
    text-transform: capitalize;
    font-weight: bold;
    color: #166534;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 10px;
    margin-top: 5px;


}


.cateHead{
    font-size: 15px;
    color: #075985;

}
.logOut{
    border-radius: 5px;
    background-color: #61B846;
    width: 80%;
    padding: 15px 20px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border-radius: 10px;
    border: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 20px;

}
.category:last-child{
    margin-bottom: 20px;
}

@media screen and (max-height:650px) {

    
}
