@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.navBar{
  display: flex;
  flex-direction: row;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;

}
  

.adminInfo{
  display: flex;

}



.adminInfo img{
  border-radius: 50%;
  background-color: aquamarine;
}

.adminInfo span{
  text-transform: capitalize;
  color: dodgerblue;
  padding-left: 5px;
  font-weight: 500;

}

.adminInfo p{
  position: relative;
  color: rgb(65, 230, 65);
  top: 20px;
  font-size: 14px;
  left: -100px;
}



.productHead{
  color: #0c4a6e;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 40px;
}

.productDisplayDiv{
  overflow-y: scroll;
  height: calc(70vh);


}


.product{
  display: flex;
  border: 2px solid #65BD50;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  align-items: center;
  margin-top: 30px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  box-sizing: border-box;
  
}
.item-img{
  height: 100%;
  width: 100px;
  padding-right: 5px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.settings{
  padding-top: 10px;
  margin-left: 10px;
}

image{
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}


.bottomNav{
  display: flex !important;
  justify-content: space-around!important;
}

.homeIcon{
  height: 27px;
  width: 27px;
  color: rgba(128, 128, 128, 0.842);
  
}
.addIcon{
  height: 27px;
  width: 27px;
  color: rgba(128, 128, 128, 0.842);

}
.userIcon{
  height: 27px;
  width: 27px;
  color: rgba(128, 128, 128, 0.842);

}
.bottomNav p{
  font-size: 15px;
  font-weight: 700;

}
.product:last-child{
  margin-bottom: 20px;
}



@media screen and (max-height:550px) {
  .productDisplayDiv{
    height: calc(60vh);
  }

  
}

@media screen and (max-height:450px) {
  .productDisplayDiv{
    height: calc(55vh);
  }

  
}

@media screen and (max-height:400px) {
  .productDisplayDiv{
    height: calc(50vh);
  }
  .product:last-child{
    margin-bottom: 30px;
  }
  

  
}


@media screen and (max-height:350px) {
  .productDisplayDiv{
    height: calc(45vh);
  }
  .product:last-child{
    margin-bottom: 35px;
  }

  
}






